@media (max-width: 1024px) {

  #social-tab {
    display: block;
  }

  #header-social {
    display: none;
  }


  .nav-collapse li {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {


  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}