@import 'fonts';
@import 'mixins';
@import 'nav';

$container: 970px;
$base-font-size: 12px;

body {
  background: white;
  max-width: $container;
  font-size: $base-font-size;
  padding: 0;
  margin: 0;
  line-height: 1.231;
}


.container {
  width: 100%
}